node_modules/
*.log
sessions/
*.log
Express/
*.log
StudentManagmentAPI/
*.log
js Practise/
*.log

package-lock.json
package.json
/package-lock.json
/package.json
folderico-black.ico
.env
**/.env
**/node_modules/
