PORT = 3000

# database uri
DB_URI = 
REDIS_URI =

# encryption config
ENC_ALGO = 
KEY = 
IV_LENGTH = 

# Secret keys
USER_ACCESS_SECRET_KEY = 
USER_REFRESH_SECRET_KEY = 
ADMIN_ACCESS_SECRET_KEY = 
ADMIN_REFRESH_SECRET_KEY = 
ACCESS_EX = 
REFRESH_EX =

# googel secret keys
GOOGLE_CLIENT_ID = 
GOOGLE_CLIENT_SECRET = 

# gmail keys
APP_PASSWORD = 
APP_EMAIL = 

MAX_SEND_RETRIES = 
MAX_OTP_RETRIES = 
